
.App {
  text-align: center;
   object-fit: cover;
    font-size: 24px;
  margin-top: 4%; 
  background-image: url('image/web.png');
  top:5% ;
  left: 35% ;
  width: 400px;
  height: 500px;
  position: relative;
  border: 2px solid rgb(230, 225, 225); 
  border-radius: 10px;
  box-shadow: 7px 7px 5px #aaaaaa;
}

.container {
	margin: 25% auto;
}

.contain-register {
   text-align: center;
    font-size: 24px;
    margin: 70% auto;
  left: 50% ;
  width: 400px;
  height: 500px;
  position: relative;
background-color: rgb(34, 102, 34);
}
 
.label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  margin-bottom: 7%;
}

.login{
  margin-bottom: 90px;
  color: black;
  font-family: roboto;
  font-size: 18px;
}
 
.input{
  font-size: large;
  padding: 2px;
  margin: 25px auto;
  display: block;
  text-align: center;
  width: 350px;
  height:30px;
   background-color: rgba(241, 243, 242, 0.685);
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat; 
  border: 1px solid rgb(223, 223, 223);
  border-radius: 30px;
  
}
.btn{
  color: white;
  background-color:  rgba(29, 88, 49, 0.685);
  border-radius: 30px;
  border: 1px solid  rgba(29, 88, 49, 0.685);
  font-size: larger;
  display: block;
  padding: 5px;
  width: 150px;
  height:30px;
  margin: 50px auto;  
  font-size: small;
}
 
.messages{
  display: flex;
  justify-content: center;
}
 
.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}


